{% extends "base.html" %}
{% block body %}  
<div ng-app ="votingapp" ng-controller="main_controller" ng-init = "init()">
<div class="row" style="margin-top: 50px">
  <div class="col-lg-6">
    <form method="post" action=".">{% csrf_token %}
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}"><strong>{{ message.tags }}! </strong>: {{ message }}</div>
      {% endfor %}
    {% endif %}
    <div class="input-group">      
      <input type="text" class="form-control" placeholder="item text... " name="item">

      <span class="input-group-btn">
        <button class="btn btn-default" type="submit">Add Item!</button>

      </span>      
    </div><!-- /input-group -->
    </form>


  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
<hr> 
<div class="input-group">      
      <input type="text" class="form-control" placeholder="item text... " ng-model="item">

      <span class="input-group-btn">
        <button class="btn btn-default" ng-click="add_item('{{request.user.id}}',item)" type="submit">Add Item!</button>

      </span>      
    </div><!-- /input-group -->
<h3> Current Queue </h3>
<table class="table table-bordered">
  <thead><tr><th>#</th><th>Description</th><th>Total Votes</th>{%if user.username = 'arun'%}<td> <th></th><th></th>   {% endif %}<th>Vote</th></tr></thead>
  {% for item in items %}
  <tr>
    <th scope="row">{{forloop.counter}}</th><td>{{item.title}}</td>
    <td><span class="v{{ item.id}} label label-default">{{ item.vcount}}</span></td>
      <td>
      <a class='btn btn-xs {%if item.voted == 'u' %}btn-warning{%else%}btn-default{%endif%}' > 
        <span class="glyphicon glyphicon-chevron-up"></span>
      </a>
      <a class='btn btn-xs {%if item.voted == 'd' %}btn-warning{%else%}btn-default{%endif%}'> 
        <span class="glyphicon glyphicon-chevron-down"></span>
      </a> 
    </td>
    {%if user.username = 'arun'%}<td> 
    <td><a class='btn btn-default'>Played</a></td>
    <td><a class='btn btn-xs btn-danger'><span class="glyphicon glyphicon-trash"></span></a></td>
    {% endif %}
  </tr>
  {% endfor %}        
</table>
<h3> Current Queue </h3>
<table class="table table-bordered">
  <thead><tr><th>#</th><th>Description</th><th>Total Votes</th>{%if user.username = 'arun'%}<td> <th></th><th></th>   {% endif %}<th>Vote</th></tr></thead>
  <tr ng-repeat="item in items">
    <th scope="row">{% verbatim %}{{ $index+1 }}{% endverbatim %}</th><td>{% verbatim %}{{ item.item }}{% endverbatim %}</td>
    <td><span class="v{{ item.id}} label label-default">{% verbatim %}{{ item.cvote }}{% endverbatim %}</span></td>
      <td>
      <a class="btn btn-xs" ng-class="item.voted=='u' ? 'btn-warning' : 'btn-default'" ng-click="vote('u',item.id)"> 
        <span class="glyphicon glyphicon-chevron-up"></span>
      </a>
      <a class="btn btn-xs" ng-class="item.voted=='d' ? 'btn-warning' : 'btn-default'" ng-click="vote('d',item.id)"> 
        <span class="glyphicon glyphicon-chevron-down"></span>
      </a> 
    </td>

  </tr>
      
</table>

<h3> Played Songs </h3>
<table class="table table-bordered">
  <thead><tr><th>#</th><th>Description</th></tr></thead>
  {% for item in played %}
  <tr>
    <th scope="row">{{forloop.counter}}</th><td>{{item.title}}</td>
  </tr>
  {% endfor %}        
</table>

</div>
{% endblock %}
