{% extends "base.html" %}
{% block body %}  
<div ng-app ="votingapp" ng-controller="main_controller" ng-init = "init()">
<div class="row" style="margin-top: 50px">
  <div class="col-lg-6">
    <form method="post" action=".">{% csrf_token %}
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}"><strong>{{ message.tags }}! </strong>: {{ message }}</div>
      {% endfor %}
    {% endif %}
    </form>


  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
<hr> 
<div class="input-group">      
      <input type="text" class="form-control" placeholder="item text... " ng-model="item">

      <span class="input-group-btn">
        <button class="btn btn-default" ng-click="add_item('{{request.user.id}}',item)" type="submit">Add Item!</button>

      </span>      
    </div><!-- /input-group -->

<h3> Current Queue </h3>
<table class="table table-bordered" ng-init="indx=1">
  <thead><tr><th>#</th><th>Description</th><th>Total Votes</th><th>Vote</th></tr></thead>
  <tr ng-repeat="item in items" ng-if="!item.played" >
    <th scope="row">{% verbatim %}{{ indx + 1 }}{% endverbatim %}
      </th><td>{% verbatim %}{{ item.item }}{% endverbatim %}</td>
    <td><span class="v{{ item.id}} label label-default">{% verbatim %}{{ item.cvote }}{% endverbatim %}</span></td>
      <td>
      <a class="btn btn-xs" ng-class="item.voted=='u' ? 'btn-warning' : 'btn-default'" ng-click="vote('u',item.id)"> 
        <span class="glyphicon glyphicon-chevron-up"></span>
      </a>
      <a class="btn btn-xs" ng-class="item.voted=='d' ? 'btn-warning' : 'btn-default'" ng-click="vote('d',item.id)"> 
        <span class="glyphicon glyphicon-chevron-down"></span>
      </a> 
    </td>
    <td ng-if="item.username="arun"" ><a class='btn btn-default' ng-click="play(item.id)">Play</a></td>
    <td ng-if="item.username="arun"" ><a class='btn btn-xs btn-danger' ng-click="delete(item.id )"><span class="glyphicon glyphicon-trash"></span></a></td>
  </tr>
      
</table>

<h3> Played Songs </h3>
<table class="table table-bordered">
  <thead><tr><th>#</th><th>Description</th></tr></thead>
  <tr ng-repeat="item in items" ng-if="item.played">
    <th scope="row">{% verbatim %}{{ $index+1 }}{% endverbatim %}</th>
    <td>{% verbatim %}{{ item.item }}{% endverbatim %}</td>
  </tr>      
</table>

</div>
{% endblock %}
